.planet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.2s;
}

.planet:hover {
    transform: scale(1.1);
}

.planet-link {
    text-decoration: none;
    color: inherit;
}

.planet-header {
    color: darkblue;
}

.planet-cover {
    color: bisque;
}